@font-face {
    font-family: "Roboto Mono";
    src: url("fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf");
}

* {
    border-radius: 5px;
}
body, button, input {
    font-family: "Roboto Mono", sans-serif;
    font-weight: bold;
}
body {
    min-height: 100vh;
    margin: 0;
    
    background-image: url("img/istockphoto-1460853312-612x612.jpg");
    background-size: cover;
    background-position: center;
}
button, input, ul {
    padding: 5px 10px;
}
button {
    background: #0000ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover, input:focus {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, 0.2);
}
button:active {
    box-shadow: none;
}
form {
    display: flex;
}
input {
    flex: 1;
    margin-right: 5px;
    border: solid 1px #0000ff;
    outline: none;
}
div:has(> input) {
    display: flex;
    flex-direction: column;
    width: 100%;
}
p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 10%;
    padding: 8px;
    min-height: 100vh;
    border-radius: 0;
}

div:has(> ul) {
    position: relative;
    flex: 1;
    background: #fcfcfc;
}
div:has(> ul)::before {
    content: "↑↑↑↑↑";
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #7a7a7a;
}
div:has(> ul) li {
    display: flex;
    gap: 3px;
}
div:has(> ul) li::before {
    content: "☐";
}

div:has(> ul) > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
div:has(> ul > li)::before, div:has(> ul > li) > p {
    display: none;
}

.columnas {
    display: flex;
    gap: 5px;
}

#cambiarTema {
    font-size: 16px;
    float: right;
    padding: 5px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    border: solid 1px #eaeaea;
}


/* Light theme */
[theme=light] main, [theme=light] input {
    background: #eaeaea;
    color: #151515;
}
[theme=light] #cambiarTema {
    background: #151515;
}

/* Dark theme */
[theme=dark] main, [theme=dark] input {
    background: #151515;
    color: #eaeaea;
}
[theme=dark] #cambiarTema {
    background: #eaeaea;
}


input[type=submit] {
    background: #0000ff;
    color: #fff;
}


@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
}
